#historico{
    width: 35rem;
    height: 35rem;
    border: 2px solid black;
    padding: 1rem;
    margin: 20rem;
    position:relative;
    background-color: azure;
}


#conteudo_mensagem{
    width: 30rem;
    height: 20rem;
    border: 1px solid black;
    margin-bottom: 5rem;
    margin-left: 2rem;

}
.mensagem_si{
    width: 25rem;
    height: 3rem;
    border: 1px solid black;
    background-color: white;
    margin: 2rem;
    padding: 3px;

}
#txt{
    margin-bottom: 4rem;
    padding: 1px;
    margin: 2px;

}
.bot{
    justify-content: end;
    margin: 2rem;
}
#btn_excluir{
    background-color: rgb(255, 122, 122);
}
#btn_editar{
    background-color: rgb(225, 255, 0);
}
#btn_enviar{
    background-color: chartreuse;
}
#caixa_mensagem{
    margin-left: 8rem;
    margin-right: 6rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    position: bottom;
    
}
#txt_mensagem{
    height: 5rem;
    width: 15rem;
}

